FLASK_SECRET=troque-esta-chave
NS_DB_HOST=127.0.0.1
NS_DB_PORT=3308
NS_DB_USER=root
NS_DB_PASSWORD=troque-esta-senha
NS_DB_NAME=notechsoft
NS_HOST=0.0.0.0
NS_PORT=5600
NS_DEBUG=1
NOTECHSOFT_MYSQL_PORT=3308
RIOB_BASE_URL=http://host.docker.internal
RIOB_SSL_VERIFY=0
