.git
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
backupsSql/
cameras/cams/
*.db
*.sqlite3
**/*.db
**/*.sqlite3
*.log
.env
.env.local
*Zone.Identifier
certs/
ImportarXml/uploads_xml_homologacao/
GestorEmails/anexos/
Relatorios/
sync-backups/
backups sql/
