.git
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
backupsSql/
cameras/cams/
*.db
*.sqlite
*.sqlite3
*.gdb
*.GDB
*.sql
*.gz
*.tar.gz
*.pfx
*.p12
*.pem
*.key
*.crt
*.tmp
*.m3u8
*.ts
**/*.db
**/*.sqlite
**/*.sqlite3
*.log
.env
.env.local
*Zone.Identifier
certs/
config
ImportarXml/uploads_xml_homologacao/
GestorEmails/anexos/
Relatorios/
sync-backups/
sync-import/
backups sql/
backupsSql/
bkp_drive/
FotosDevolucoes/
RequisicoesAbastecimento/
nfe-cache/
vendas-cache/
ChatAnexos/
