<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}NanotechSoft{% endblock %}</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script defer src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body class="theme-{{ config.tema if config else 'rio_branco' }}">
  {% block body %}{% endblock %}
</body>
</html>
