global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend postgres_render
    bind :5433
    acl render_source src 74.220.48.0/24 74.220.56.0/24
    tcp-request connection reject if !render_source
    default_backend pacs_postgres

backend pacs_postgres
    option tcp-check
    server postgres pacs-postgres:5432 check init-addr last,libc,none
